body{
	overflow-x: hidden;
}


.spinner{
	width: 80px;
	height: 80px;
	border: 2px solid turquoise;
	border-top: 3px solid azure;
	border-radius: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}

#overlay{
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 1);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;

}

.bootstrap-override-navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding-right: 10px;
}

.bootstrap-override-navbar-brand img{
	margin-left: -10px;
}

.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
    position: relative;
    min-height: 75px;
    border: 1px solid transparent;
}


.navbar-default .navbar-nav > li > a {
	font-size: 18px;
	font-family: roboto;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: black;
}

.navbar-default .navbar-nav > li[id="contactBtn"] > a{
	background: #28C654;
	color: white;
	font-weight: bold;
}

.navbar-default .navbar-nav > li[id="contactBtn"] > a:hover,
.navbar-default .navbar-nav > li[id="contactBtn"] > a:focus {
  background: black;
}

.navbar-nav > li > a {
	margin-left: 8px;
	margin-right: 8px;
}

#mainHeader .navbar-default .navbar-toggle .icon-bar {
    background-color: #030038;
}

#activeBtn{
	color: white;
	background: black;
}

#aboutContent{
	padding: 20px;
	padding-bottom: 60px;
}

#aboutContent h1{
	color: #00c15d;
	font-family: Nunito;
	font-size: 50px;
	margin-bottom: 30px;
}

#aboutContent p{
	font-size: 28px;
	margin-right: 25%;
	font-family: nunito;
	color: #788c9a;
	margin-bottom: 30px;
}

#sloganContent{
	background: #0a172b;
	font-family: nunito;
	padding: 50px 15px 60px 15px;
	color: #ea891f;
}

#sloganContent h2{
	font-size: 28px;
}

#sloganContent p{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	color: white;
}

#servicesContent{
	padding: 50px 25px 50px 25px;
	font-family: nunito;
}

#servicesContent h2{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: nunito;
}

#servicesContent p{
	padding-bottom: 10px;
	font-size: 18px;
}

div[class="col-sm-6 col-xs-12"]{
	padding-left: 0px;
}

.imgCol{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}


#whitepaper{
	background: #e0f0fc;
	padding: 50px 25px 50px 25px;
}

#whitepaper h2{
	font-family: nunito;
	font-size: 28px;
	color: #ea891f;
}

#whitepaper p{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: nunito;
	font-size: 18px;
}




#whitepaper div[class="col-sm-6 col-xs-12"]:nth-of-type(2){
	padding: 50px;
	text-align: center;
}

#whitepaperBtn{
	font-size: 100%;
	font-weight: bold;
	min-width: 150px;
	width: 100%;
	border-radius: 0px;
	line-height: 25px;
}


#closingBanner{
	padding: 70px 15px 70px 15px;
	text-align: left;
	background-image: url("mainContentbg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: roboto;
}

#closingBanner div[class="col-sm-6 col-xs-12"]{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 70px;
}

.processSearch{
	font-size: 100%;
	width: 60%;
	min-width: 275px;
	min-height: 45px;
	border-radius: 0px;
	float: left;
}

#searchBtn{
	line-height: 30px;
	font-size: 100%;
	color: white;
	min-width: 30%;
	font-weight: bold;
	border-radius: 0px;
	background: #28C654;
	border: solid 1px transparent;
}

#searchBtn:hover{
	background: black;
}

#closingBanner div[class="col-sm-3 col-xs-12"]{
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 20px;
}

#closingBanner div[class="col-sm-6 col-xs-12"]{
	padding-left: 10px;
	padding-right: 0px;
}

#closingBanner div[class="col-sm-3 col-xs-12"] p{
	text-align: left;
	color: #3690d1;
	font-size: 18px;
	letter-spacing: 1px;
	padding-bottom: 20px;
}

#closingBanner div[class="col-sm-6 col-xs-12"] p{
	text-align: left;
	color: #3690d1;
	font-size: 18px;
	letter-spacing: 1px;
	padding-bottom: 20px;
}

.listnoBullets{
	list-style-type: none;
	padding: 0px;
}

.listnoBullets li a{
	color: white;
	font-size: 18px;
}

.listnoBullets li a:hover{
	color: #ea891f;
	text-decoration: none
}

#trademark{
	color: #717272;
}
