/* ---- reset ---- */

body {
  margin: 0;
  background-color: #FFF;
}

canvas {
  display: block;
  vertical-align: bottom;
  max-height: 425px;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
}
